// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


body {
    font-family: 'Kanit', sans-serif !important;
}

input:not([disabled]), select:not([disabled]) {
    background-color: white !important;
}

.tabActive {
    color: white;
    background-color: #0d6dfde0 !important;
    &:hover {
        color: white;
    }
}
